body {
    background: linear-gradient(180deg, #f8c8ff, #c7b8ff, #8ab5ff);
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* LOGIN BOX */
.login-box {
    width: 430px;
    padding: 30px;
    background: rgba(255,255,255,0.3);
    border: 3px solid #fff;
    border-radius: 15px;
    backdrop-filter: blur(6px);
}

.title-pixel {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #ff6ee6;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid #fff;
    border-radius: 8px;
    background: #ffeaff;
}

.btn-join, .btn-create {
    width: 100%;
    margin-top: 15px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-join {
    background: #ff9adb;
}

.btn-create {
    background: #9dffad;
}

.err {
    color: red;
    margin-top: 10px;
}


/* ROOM */
.chat-shell {
    width: 70vw;
    height: 80vh;
    background: rgba(255,255,255,0.25);
    border: 4px solid white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.room-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px #ff6ee6;
}

.messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

.bubble {
    background: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 8px;
    border-left: 6px solid #ff6ee6;
}

.avatar {
    font-size: 20px;
}

.time {
    color: gray;
    font-size: 12px;
}

.chat-input-row {
    display: flex;
    gap: 10px;
}

#msg {
    flex-grow: 1;
    padding: 12px;
    border: 2px solid white;
    border-radius: 10px;
}

.btn-send {
    padding: 12px 20px;
    background: #ff6ee6;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}